@page
@model Mnom_Mnom.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    .triangle-right {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 10px solid #555;
        border-bottom: 5px solid transparent;
        background-color: transparent;
    }
    .triangle-left {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 10px solid #555;
        border-bottom: 5px solid transparent;
        background-color: transparent;
    }
</style>

<h2>Корзина</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Type</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Cart.Dishes != null)
        {
            foreach (var item in Model.Cart.Dishes)
            {
        <tr>
            <td>
                <img src="@item.Dish.ImagePath" height="200" width="200" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dish.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dish.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dish.Price)
            </td>
            <td>
                <form method="post">
                    <input type="submit" class="triangle-left" asp-page-handler="ReduceQuantity" asp-route-id="@item.DishID" />
                    @Html.DisplayFor(modelItem => item.Quantity)
                    <input type="submit" class="triangle-right" asp-page-handler="AddQuantity" asp-route-id="@item.DishID" />
                </form>
            </td>
            <td></td>
        </tr>
            }
        }
        <tr>
            <td colspan="3" align="right">Всего:</td>
            <td>@Html.DisplayFor(model => model.Total)</td>
            <td></td>
            <td>
                @if (Model.Cart.Dishes != null && Model.Cart.Dishes.Any())
                {
                    <a asp-page="/Order" class="btn btn-primary">Оформить заказ</a>
                }
            </td>
        </tr>
        </tbody>
</table>